<div class="container" dir="rtl">
<div class="table-responsive" dir="rtl">
<table class="table table-striped table-hover" >
  <thead class="thead-dark ">
  <tr>
    <th scope="col">كود المشترك</th>
    <th scope="col">الاسم</th>
    <th scope="col">العنوان</th>
    <th scope="col">القطاع</th>
    <th scope="col">الفرع</th>
    <th scope="col">الرقم القومى</th>
    <th scope="col">رقم الهاتف</th>
    <th scope="col">إسم المنشأة</th>
    <th scope="col">الرصيد</th>
    <th scope="col">رقم الهاتف التانى</th>
    <th scope="col">المجموعة</th>
    <th scope="col">المنطقة</th>
    <th scope="col">البلوك</th>
    <th scope="col">المحافظة</th>
  </tr>


  </thead>

  <tbody>
  <tr *ngFor="let sub of subscribersDataSource">
<td>{{sub.id}}</td>
    <td>{{sub.name}}</td>
    <td>{{sub.address}}</td>
    <td>{{sub.sector}}</td>
    <td>{{sub.branch}}</td>
    <td>{{sub.nationalId}}</td>
    <td>{{sub.phoneNumber}}</td>
    <td>{{sub.facilityName}}</td>
    <td>{{sub.balance}}</td>
    <td>{{sub.secondPhoneNumber}}</td>
    <td>{{sub.group}}</td>
    <td>{{sub.area}}</td>
    <td>{{sub.block}}</td>
    <td>{{sub.state}}</td>



  </tr>
  </tbody>
</table>
</div>


  <form #subscriberForm="ngForm">
    {{subscriberForm.value | json}}
    <div class="card bg-dark text-white text-right" dir="rtl">
      <div class="card-title">بيانات المشترك</div>
      <div class="card-body"></div>
    </div>

    <div class="row">
    <div class="form-group col-sm-auto text-right input-group mb-3" >
      <label class="input-group-text" >رقم المشترك</label>
      <input type="text" class="form-control" ngModel name="id" >
    </div>
<div class="row">
    <div class="form-group col-sm-3 text-right input-group mb-3">
      <label class="input-group-text">إسم المشترك</label>
      <input type="text" class="form-control" ngModel name="name" >
    </div>

      <div class="form-group col-sm-3 text-right input-group mb-3">
        <label class="input-group-text">العنوان</label>
      <input type="text" class="form-control" ngModel name="address" >
    </div>

      <div class="form-group col-sm-3 text-right input-group mb-3">
        <label class="input-group-text">القطاع</label>
      <input type="text" class="form-control" ngModel name="sector" >
    </div>

      <div class="form-group col-sm-3 text-right input-group mb-3">
        <label class="input-group-text">الفرع</label>
      <input type="text" class="form-control" ngModel name="branch" >
    </div>

</div>

      <div class="row">

    </div>
    <div class="form-group col-sm-3 text-right input-group mb-3">
      <label class="input-group-text">الرقم القومى</label>
      <input type="text" class="form-control" ngModel name="nationalId" >
    </div>

    <div class="form-group col-sm-3 text-right input-group mb-3">
      <label class="input-group-text">رقم الهاتف</label>
      <input type="text" class="form-control" ngModel name="phoneNumber" >
    </div>

    <div class="form-group col-sm-3 text-right input-group mb-3">
      <label class="input-group-text">إسم المنشأة</label>
      <input type="text" class="form-control" ngModel name="facilityName" >
    </div>

    <div class="form-group col-sm-3 text-right input-group mb-3">
      <label class="input-group-text">الرصيد</label>
      <input type="text" class="form-control" ngModel name="balance" >
    </div>
    </div>


    <div class="row flex-row">
    <div class="form-group col-sm-3 text-right input-group mb-3">
      <label class="input-group-text">رقم الهاتف الثانى</label>
      <input type="text" class="form-control" ngModel name="secondPhoneNumber" >
    </div>

    <div class="form-group col-sm-2 text-right input-group mb-3">
      <label class="input-group-text">المجموعة</label>
      <input type="text" class="form-control" ngModel name="group" >
    </div>
    <div class="form-group col-sm-2 text-right input-group mb-3">
      <label class="input-group-text">المنطقة</label>
      <input type="text" class="form-control" ngModel name="area" >
    </div>

    <div class="form-group col-sm-2 text-right input-group mb-3">
      <label class="input-group-text">البلوك</label>
      <input type="text" class="form-control" ngModel name="block" >
    </div>

    <div class="form-group col-sm-3 text-right input-group mb-3">
      <label class="input-group-text">المحافظة</label>
      <input type="text" class="form-control" ngModel name="state" >
    </div>
    </div>


    <button class="btn btn-primary" type="submit">Submit Form</button>

  </form>
</div>
